/* JS-Logo Fade */
.js-container {
  position: relative;
  width: 50%;
}
#js-logo {
  width: 50%;
  min-width: 150px;
  height: auto;
  position: relative;
}
.js-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4em;
  right: 0;
  height: 100%;
  width: 30%;
  opacity: 0;
  transition: .5s ease;
  }
.js-container:hover .js-overlay {
  opacity: 1;
}
.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: rgba(110, 110, 110, 0.973);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Click the JS Logo */
#sub-section{
  font-family: 'Gaegu', cursive;
  font-style: italic;
}

/* Navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #dab92d;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* Main content */
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}
header{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}
code{
  display:block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color:#f7f7f7;
  padding:15px;
  margin:10px;
  border-radius:5px;
}
#navigation-header {
  color: #dab92d;
  padding-left: 10px;
  font-size: 1.5em;
}
/* On smaller screens, where width is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  html{
    margin-right: -45px;
  }
  #navigation-header{
    font-size: 0.9em;
    padding-left: 10px;
  }
  #navbar .nav-link{
    font-size: 1em;;
    padding-left: 10px;
  }
  #navbar .closeBtn{
    padding-left: 10px;
  }
  #main{
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
  }
  code{
    overflow-wrap: break-word; 
    padding: 5px;
    margin: 0;
  }
}